<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Portfolio Item - Start Bootstrap Template</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/portfolio-item.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<div>
  <%= form_for ([@circle, @event]) do |f| %>
    <h3>
      イベント情報を登録する
    </h3>
    <div class="field">
      <%= f.label :"イベント名" %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :"日時" %><br />
      <%= f.text_field :date %>
    </div>
    <div class="field">
      <%= f.label :"場所" %><br />
      <%= f.text_field :place %>
    </div>
    <div class="field">
      <%= f.label :"費用" %><br />
      <%= f.text_field :cost %>
    </div>
    <div class="field">
      <%= f.label :"内容" %><br />
      <%= f.text_field :content %>
    </div>
    <div class="field">
      <%= f.label :"連絡先" %><br />
      <%= f.text_field :contact %>
    </div>
    <div class="field">
      <%= f.label :"イベントの写真" %><br />
      <%= f.file_field :avatar %>
    </div>
    <div class="actions">
      <%= f.submit "登録する" %>
    </div>
  <% end %>
</div>

    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Excircle 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>