<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Homepage - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

<!-- 左上の検索バー-->
            <div class="col-md-3">
                <div class="row">
                    <p class="lead">サークル名</p>
                    <% @circles.each do |circle| %>
                        <p class="lead"> <%= circle.name %></p>
                    <% end %>
                    <p class="lead">サークル名検索</p>
                    <form method="GET" action="/circles/search">
                        <div class="input-group">
                            <input type="text" name="search" class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">検索</button>
                            </span>
                        </div>
                    </form>
                </div>
                <p class="lead">大学名検索</p>
                <div class="list-group">
                    <% @univs.each do |univ| %>
                        <a href="/univs/<%= univ.id %>"><%= univ.name %></a>
                    <% end %>
                </div>
                <p class="lead">ジャンル検索</p>
                <div class="list-group">
                    <% @tags.each do |tag| %>
                        <a href="/tags/<%= tag.id %>"><%= tag.name %></a>
                    <% end %>
                </div>
            </div>

            <div class="col-md-9">
                <% @circles.each do |circle| %>
                    <div class="col-md-8">
                        <img class="img-responsive" src="http://placehold.it/750x500" alt="">
                    </div>
                    <div class="col-md-4">
                        <% @thisuniv.each do |thisuniv| %>
                            <% @user.each do |user| %>
                                <h3>サークル名：<%= circle.name %></h3>
                                <h4>大学名：<%= thisuniv.name %></h4>
                                <h3>サークル情報</h3>
                                <% if user_signed_in? && current_user.id == circle.user_id %>
                                    <a href="/circles/<%= circle.id %>/edit">サークル情報を変更する</a></br>
                                    <a href="/circles/<%= circle.id %>" data-method="delete" data-confirm="本当に削除してよろしいですか？">サークル情報を削除する</a>
                                <% end %>
                                <ul>
                                    <li>アピール文</li>
                                    <p><%= circle.appeal %></p>
                                    <li>概要</li>
                                    <p><%= circle.detail %></p>
                                    <li>ジャンル</li>
                                    <p><%= circle.tag.name %></p>
                                    <li>キャンパス</li>
                                    <p><%= circle.campus %></p>
                                    <li>公認：<%= circle.official %></li>
                                    <li>インカレ：<%= circle.intercollege %></li>
                                    <li>人数：<%= circle.n_member %></li>
                                    <li>サークル担当者：<%= user.name%></li>
                                </ul>
                            <% end %>
                        <% end %>
                    </div>
                <% end %>

                <div class="row">

                    <%if @events == nil then %>
                        <p class="lead">このサークルに登録されているイベントはありません。</p>
                    <%else %>
                        <% @events.each do |event|  %>
                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/320x150" alt="">
                                    <div class="caption">
                                        <h4>イベント名：<%= event.name %></h4>
                                        <ul>
                                            <li>日時：<%= event.date %></li>
                                            <li>場所：<%= event.place %></li>
                                            <li>費用：<%= event.cost %></li>
                                            <li>内容：<%= event.content %></li>
                                            <li>連絡先：<%= event.contact %></li>
                                        </ul>
                                        <a href="/circles/<%= params[:id] %>/events/<%= event.id %>/edit">イベント情報を変更する</a>
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    <%end%>
                </div>
            </div>
        </div>
    </div>

    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Excircle 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
